<footer id="gb-footer" class="wow fadeIn" data-wow-delay="0.5s">
 <div class="container _chd-cl-xs-12-md-05-lg-04">
 	<div class="col-l start-xs center-sm start-md">
		<div class="lg-ft center-xs start-md mb10-xs"><img src="di/logo-footer.png" alt="logo"></div>
		<div class="wrap-ft">
			<p><img src="di/ic-callcenter.png" height="60"></p>
			<div class="fix-follow">
			<p>ติดตามศาลรัฐธรรมนูญ</p>
			<ul class="follow-us _flex center-xs start-md _chd-mr20 mt10-xs mt20-sm">
				<li><a class="fb" target="_blank" href="#" title="facebook"><i class="fab fa-facebook"></i></a></li>
				<li><a class="yt" target="_blank" href="#" title="youtube"><i class="fab fa-play"></i></a></li>
				<li><a class="line" target="_blank" href="#" title="Line"><img src="https://d.line-scdn.net/r/web/social-plugin/img/common/round-default-large.png" title="Share this page on LINE." width="32" height="32"></a></li>
				<li><a class="cloud" target="_blank" href="#" title="cloud"><i class="fab fa-soundcloud"></i></a></li>
			</ul>
			</div>
		</div>
	</div>
	<nav class="col-r _self-cl-xs-12-md-07-lg-08">
		<ol class="_chd-cl-xs-12-xsh-06-md-05 center-xs txt-l">
			<li class="mb20-xs mb0-sm">
				<h4><a href="#" title="หมวดหมู่">ติดต่อ</a></h4>
				<div>
					<address>ศูนย์ราชการเฉลิมพระเกียรติ 80 พรรษา <br>
5 ธันวาคม 2550 (อาคารราชบุรีดิเรกฤทธิ์) <br>
เลขที่ 120 หมู่ 3 ถนนแจ้งวัฒนะ  <br>
แขวงทุ่งสองห้อง เขตหลักสี่  <br>
กรุงเทพมหานคร 10210</address>
					<p>Tel : <a href="tel:0-2141-7777">0-2141-7777</a></p>
					<p>Fax : <a href="tel:0-2143-9522">0-2143-9522</a></p>
					<p>Email : <a href="mailto:office@constitutionalcourt.or.th">office@constitutionalcourt.or.th</a></p>
				</div>
			</li>
			
			<li>
				<h4><a href="#" title="ข้อมูลบริการ">ข้อมูลบริการ</a></h4>
				<ul>
					<li><a href="#" title="นโยบายเว็บไซต์">นโยบายเว็บไซต์</a></li>
					<li><a href="#" title="นโยบายความเป็นส่วนตัว">นโยบายความเป็นส่วนตัว</a></li>
					<li><a href="#" title="นโยบายการรักษาความมั่นคงปลอดภัย">นโยบายการรักษาความมั่นคงปลอดภัย</a></li>
					<li><a href="#" title="ข้อกำหนดและเงื่อนไข">ข้อกำหนดและเงื่อนไข</a></li>
				</ul>
			</li>

			
		</ol>
	</nav>
 </div>
 <p class="copyright">© สงวนลิขสิทธิ์ 2020 ศาลรัฐธรรมนูญ</p>
</footer>


<div id="back2top">
	<i class="ic-b2t"></i>
	<span>Back to top</span>
</div>