<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="BOOK ALOT">
<meta name="description" content="BOOK ALOT">
<meta name="author" content="BOOK ALOT CO., LTD">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="di/favicon.png" rel="shortcut icon" />
<title>ศาลรัฐธรรมนูญ</title>
<!-- Custom styles for this template -->
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500&family=Sarabun:wght@200;400;&display=swap" rel="stylesheet">
<!--<link href="fonts/fontface.css" rel="stylesheet" type="text/css">-->
<link href="fonts/fontface-v4.7.css" rel="stylesheet" type="text/css">
<link href="cs/flexgrid.css" rel="stylesheet" type="text/css">
<!--<link href="cs/mmenu.css" rel="stylesheet" type="text/css">-->
<link href="cs/slick.css" rel="stylesheet" type="text/css">
<link href="cs/slick-theme.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet">
<link href="cs/theme.css" rel="stylesheet">

<link rel="contents" href="#toc" title="Table Of Contents" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script src="js/jquery-1.11.3.min.js"></script>
<!--<script src="https://kit.fontawesome.com/1729105825.js" crossorigin="anonymous"></script>-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>