<header id="gb-header">
<div class="container">
	<div class="gheader">
		<h1 itemscope="" itemtype="//schema.org/Organization" class="logo">
			<a href="index.php" itemprop="url">Book Alot</a>
			<img src="di/logo.png" itemprop="logo">
		</h1>
		<div class="btn-nv-m" role="navigation">
			<a class="b-ex" href="javascript:;" title="Expand">
					<span>&nbsp;</span>
					<span>&nbsp;</span>
					<span>&nbsp;</span>
				</a>
		</div>

		<nav id="navigation" class="main-nav" role="navigation">
		  <ul id="nav-drop">    
			<li class="pg"><a href="index.php" title="HOME">หน้าแรก</a></li>
			<li class="pg sub"><a href="javascript:;" title="บทความ">บทความ</a><div class="sw"><i class="fas fa-angle-down"></i></div>
					<ul>
						<li><a class="dropdown-item" href="category.php?cid=11">ข่าวศาลรัฐธรรมนูญ</a></li>
						<li><a class="dropdown-item" href="category.php?cid=16">ข่่าวสำนักงานศาลรัฐธรรมนูญ&nbsp;(Press&nbsp;Release)</a></li>
						<li><a class="dropdown-item" href="category.php?cid=15">ข่าวประชาสัมพันธ์สำนักงานศาลรัฐธรรมนูญ</a></li>
						<li><a class="dropdown-item" href="category.php?cid=19">ข่าวรับสมัครบุคลากร</a></li>
						<li><a class="dropdown-item" href="category.php?cid=17">ภาพกิจกรรมสำนักงานศาลรัฐธรรมนูญ</a></li>
						<li><a class="dropdown-item" href="category.php?cid=620">ข่าวฝากประชาสัมพันธ์</a></li>
						<li><a class="dropdown-item" href="category.phpl">สาระดีๆจากศาลปกครอง</a></li>
						<li><a class="dropdown-item" href="category.php?nid=9843">การรับฟังความคิดเห็น</a></li>
					</ul>
			</li>
			<li class="pg sub"><a href="category.php" title="คลิปวิดีโอ">คลิปวิดีโอ</a><div class="sw"><i class="fas fa-angle-down"></i></div></li>
			<li class="pg sub"><a href="category.php" title="พอดแคสต์">พอดแคสต์</a><div class="sw"><i class="fas fa-angle-down"></i></div></li>
			<li class="lang-mobile visible-xs visible-sm"><a href="#" class="active">TH</a>  |  <a href="#">EN</a></li>
			</ul>
		</nav>
		
		
	</div>
    <div class="fix-r">
	
		<div class="sw-view" role="search">
			<a class="btn" href="javascript:;" title="Search"><i class="fas fa-search"></i> ค้นหา</a>
			<ul class="form-control">
				<li class="container">
				<form id="cse-search-box" method="get" action="search.php">
					<input name="key-word" id="auto-search" placeholder="ค้นหา...." type="text">
					<button type="submit" id="btn-search" class="btn fa-search"></button>
					<span class="close"></span>
				</form>
				</li>
			</ul>
			
		</div>
	
		<div class="sw-toggle lang hidden-xs hidden-sm">
			<a class="btn" href="javascript:;" title="Lang">TH <i class="fas fa-angle-down"></i> </a>
			<ul class="dropdown">
				<li><a href="#" title="English">EN</a></li>
				<li><a href="#" title="Thai">TH</a></li>
			</ul>

		</div>
	</div>
	
</div>
</header>