<script type="text/javascript" src="js/jquery.idTabs.min.js"></script>
<!--<script type="text/javascript" src="js/jquery.flexslider.js"></script>-->
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->

<script type="text/javascript">
$(document).ready(function(){
	//back to top
	$(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('#back2top').css({bottom:"10px"});
		} else {
			$('#back2top').css({bottom:"-70px"});
		}
	});
	$('#back2top').click(function(){
		$('html, body').animate({scrollTop: '0px'}, 800);
		return false;
	});
	//expand nav
	$('.btn-nv-m .b-ex').click(function(){
		$(this).toggleClass('active');
		$('body').toggleClass('expand');
	});
	$('.sw-nav a.btn').click(function(){
		$(this).toggleClass('active');
		$(this).parent().next('.drop-user').slideToggle(300).toggleClass('sw');
	});
	$('.main-nav .sub .sw').click(function(){
		$(this).toggleClass('active');
		$(this).parents('.sub').toggleClass('show');
	});
	
	//searchbar
	$('.sw-toggle>*').click(function() {
		if ($(this).hasClass( 'active' )) {
			$(this).toggleClass('active');
			$(this).next('.dropdown').slideToggle(300).toggleClass('sw');
		} else {
		   $('.sw-toggle>*').removeClass('active');
		   $(this).toggleClass('active');
		   $(this).next('.dropdown').slideToggle(300).toggleClass('sw');
		}
    });
	/*toggle searchbar*/
		$(".sw-view .btn").click(function(){
			if ($(this).hasClass( "clicked" )) {
			   //alert('show modal');
			}else{
			  $('.sw-view').addClass('show');
			  $('#auto-search').focus();
			  /*$('.sw-view a.btn').click(function(){
					$(this).toggleClass('active');
					$(this).children('.form-control').slideToggle(300).toggleClass('sw');
			  });*/
			  
			}
		  });
		 /* $(document).click(function(e){
			  if(!$('.sw-view,.load').is(e.target) && $('.sw-view,.form-control').has(e.target).length === 0 && !$('#btn-search').is(e.target) && $('.sw-view .close').is(e.target)){// if div is not target nor its descendant
				$('.sw-view').removeClass('show');
			  }
			});*/
		  $('.sw-view .close').click(function(){
			$('.sw-view').removeClass('show');
		  });
    //scroll to fix
    if($('#gb-header').length > 0) {
		var top17 = $('#gb-header').offset().top + parseFloat($('#gb-header').innerHeight());
		$(window).scroll(function (event) {
			var y17 = $(this).scrollTop();
			if (y17 >= top17 ) {$('#gb-header').addClass('fixed');} else {$('#gb-header').removeClass('fixed');}
		});
	}
	//scroll to fix
    if($('#fix-bar').length > 0) {
		var top18 = $('#fix-bar').offset().top;
		$(window).scroll(function (event) {
			var y18 = $(this).scrollTop();
			if (y18 >= top18 ) {$('#fix-bar').addClass('fixed');} else {$('#fix-bar').removeClass('fixed');}
		});
	}
	//hidden icon table
	$('.table-resp').click(function(){
		$(this).addClass('off');
	});
	$(".table-resp").scroll(function () {
        $(this).addClass('off');
    });

});
</script>

<!--<script>
//Dropdown plugin data
$(document).ready(function() {
    $('#select-price').select2({
    	placeholder: "Select Price",
		minimumResultsForSearch: -2,
		width: 100
	});
	$('#select-lang').select2({
  		placeholder: 'Content Language',
		minimumResultsForSearch: -2,
		width: 190
	});
});
</script>-->

<script>
/*$("#done").on('click', function() {$.fancybox.open('<div class="message content"><h2>สำเร็จ!</h2><p>รายการเสร็จสมบูรณ์!</p></div>');

});*/

$(document).ready(function() {
	$("[data-fancybox='image']").fancybox({
		protect : true,
        touch: true,
	});
    $("[data-fancybox='modal']").fancybox({
		toolbar  : false,
		infobar : false,
		protect : false,
		arrows : false,
        touch: false,
	});
	
});
</script>

<script type="text/javascript" src="js/wow.min.js"></script>
<script>
    // WOW Animation
    new WOW().init();
</script>

<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.parallax-window').parallax();
});
</script>

<!--<script type="text/javascript">

$(window).load(function() {
  //bigslider
   $('.big-slider').flexslider({
   	animation: "slide",
    smoothHeight: true, 
  });
  // The slider being synced must be initialized first
  $('.tab-slider').flexslider({
  	animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 60,
    itemMargin:0,
    asNavFor: '.view-slider'
  });

  $('.slide-tabs').flexslider({
  animation: "slide",
  manualControls: ".bar-tabs li",
  directionNav: false,
  slideshow: true,
  animationSpeed: 300,
  slideshowSpeed: 4000,
  startAt:  0,
  //useCSS: false,
  //itemWidth: 375,
  });

});
</script>-->