<!-- facebook login -->
<div id="popup-login" class="thm-popup">
<div class="inner">

  <div class="hd txt-c">
  	<b>เข้าสู่ระบบ</b>
	<figure class="bg">
		<img src="di/bg-login.png">
	</figure>
  </div>
  <div class="wrap">
  <div class="fb cb-af"> 
  	<a class="fb-signin" href="javascript:;" title="Login with facebook" data-fancybox-close onClick="parent.jQuery.fancybox.close();"> <img src="di/ic-fb.png"> Login with facebook</a>
	<a class="gg-signin" href="javascript:;" title="Login with google" data-fancybox-close onClick="parent.jQuery.fancybox.close();"> <img src="di/ic-gg.png"> Login with google</a>
    
  </div>
  <div class="or"><span>หรือ</span></div>
  <div id="login_details" class="z-login">
    <fieldset>
      <legend class="hid">เข้าสู่ระบบ</legend>
      <ul class="section-regis">
        <li>
          <label class="ic" for="email"><img src="di/ic-email.png"></label>
          <input type="text" maxlength="100" name="ajax_email" id="ajax_email" class="txt-box _self-cl-xs-12" placeholder="กรอกอีเมล แอดเดรส">
        </li>
        <li>
          <label class="ic" for="password"><img src="di/ic-password.png"></label>
          <input type="password" class="txt-box _self-cl-xs-12" placeholder="กรอกรหัสผ่าน">
        </li>
		<li class="ctrl-btn"> 
           <input type="button" class="ui-btn-pink-sq btn-lg btn-block" id="button-login-pop" value="เข้าสู่ระบบ" data-fancybox-close onClick="parent.jQuery.fancybox.close();">
        </li>

      </ul>
    </fieldset>
  </div>
  <div class="z-regis">
    <p class="btn-regis _chd-mh10">
        <a class="btn-signup" href="javascript:;" data-fancybox="registerNew" data-src="#popup-register" data-fancybox-close onClick="parent.jQuery.fancybox.close();">สมัครสมาชิก</a> | 
		<a href="javascript:;" data-fancybox="forgot" data-src="#popup-forgetpassword" data-fancybox-close onClick="parent.jQuery.fancybox.close();" title="ลืมพาสเวิร์ด">ลืมรหัสผ่าน?</a>
    </p>
    
  </div>
  </div>
  
</div>
</div>
<!-- /faceboo login -->

<!-- register -->
<div id="popup-register" class="thm-popup">
<div class="inner">
 <div class="hd txt-c">
  	<b>สมัครสมาชิก</b>
	<figure class="bg">
		<img src="di/bg-register.png">
	</figure>
  </div>
  
  <div class="wrap">
  <div id="regis_details" class="z-login">
    <fieldset>
      <legend class="hid"> สมัครสมาชิกใหม่</legend>
      <ul class="section-regis">
	  	<li>
          <label for="regis_display">ชื่อแสดงในระบบ</label>
          <input type="text" maxlength="100" name="regis_display" id="regis_display" class="txt-box _self-cl-xs-12" placeholder="">
        </li>
		<li class="row _chd-cl-xs-06">
		  <span>
			  <label for="regis_name">ชื่อ</label>
			  <input type="text" maxlength="100" name="regis_name" id="regis_name" class="txt-box _self-cl-xs-12" placeholder="">
		  </span>
		  <span>
			  <label for="regis_sname">นามสกุล</label>
			  <input type="text" maxlength="100" name="regis_sname" id="regis_sname" class="txt-box _self-cl-xs-12" placeholder="">
		  </span>
        </li>
		<li>
          <label for="regis_display">เพศ</label>
          <div class="mt05-xs _flex _chd-mr20">
		  	<span><input type="radio" name="gender" id="g1"> <label class="ml10-xs" for="g1">ชาย</label></span>
			<span><input type="radio" name="gender" id="g2"> <label class="ml10-xs" for="g2">หญิง</label></span>
			<span><input type="radio" name="gender" id="g3"> <label class="ml10-xs" for="g3">ไม่ระบุ</label></span>
		  </div>
        </li>
        <li>
          <label for="regis_email">อีเมล แอดเดรส</label>
          <input type="text" maxlength="100" name="regis_email" id="regis_email" class="txt-box _self-cl-xs-12" placeholder="">
        </li>
        <li>
          <label class="ic" for="regis_password">รหัสผ่าน</label>
          <input type="password" maxlength="10" name="regis_password" id="regis_password" class="txt-box _self-cl-xs-12" placeholder="">
        </li>
         <li>
          <label class="ic" for="cregis_password">ยืนยัน รหัสผ่าน</label>
          <input type="password" maxlength="10" name="cregis_password" id="cregis_password" class="txt-box _self-cl-xs-12" placeholder="">
        </li>
		<li class="interest">
			<label for="regis_interest">เลือกหมวดหมู่ที่ท่านสนใจ</label>
			<ol class="chl-interest">
				<li><input type="checkbox" value="1" id="itr1" name="itr1"> <label class="ml10-xs" for="itr1">การลงทุน</label></li>
				<li><input type="checkbox" value="2" id="itr2" name="itr2"> <label class="ml10-xs" for="itr2">ธุรกิจ</label></li>
				<li><input type="checkbox" value="3" id="itr3" name="itr3"> <label class="ml10-xs" for="itr3">พัฒนาตนเอง</label></li>
				<li><input type="checkbox" value="4" id="itr4" name="itr4"> <label class="ml10-xs" for="itr4">นิยาย</label></li>
				<li><input type="checkbox" value="5" id="itr5" name="itr5"> <label class="ml10-xs" for="itr5">การ์ตูน</label></li>
				<li><input type="checkbox" value="6" id="itr6" name="itr6"> <label class="ml10-xs" for="itr6">ไลฟ์สไตล์</label></li>
			</ol>
		</li>
		<li class="policy">
			<input type="checkbox" value="1" id="accept" name="accept">
			<label class="ml10-xs" for="accept">ยอมรับ <a class="t-pink" data-fancybox="" data-type="iframe" data-src="http://beurguide.net/terms" href="javascript:;" title="การยอมรับข้อตกลงในการใช้งาน"><u>ข้อตกลงในการใช้งาน</u></a></label>
		</li>
		<li class="ctrl-btn ma0-xs"> 
           <input type="button" class="ui-btn-pink-sq btn-lg btn-block" id="button-signup-pop" value="สมัครสมาชิก">
        </li>
       
      </ul>
    </fieldset>
  </div>
  </div>

</div>
</div>
<!-- /register -->

<!-- forgetpassword -->
<div id="popup-forgetpassword" class="thm-popup">
<div class="inner">
 <div class="hd txt-c">
  	<b>ลืมรหัสผ่าน</b>
	<figure class="bg">
		<img src="di/bg-forgotpassword.png">
	</figure>
  </div>
  
  <div class="wrap">
  <div id="regis_details2" class="z-login none">
    <fieldset>
      <legend>ขอรหัสผ่านใหม่ <small>กรุณากรอกอีเมล แอดเดรสในช่องด้านล่างเพื่อเริ่มการตั้งค่ารหัสผ่านใหม่</small>
	  </legend>
       <ul class="section-regis">
        <li>
          <label class="ic" for="forgot_email">อีเมล แอดเดรส</label>
          <input type="text" maxlength="100" name="forgot_email" id="forgot_email" class="txt-box _self-cl-xs-12" placeholder="">
        </li>
        <li class="ctrl-btn pt30-xs"> 
           <input type="button" class="ui-btn-pink-sq btn-lg btn-block" id="button-forgot-pop" value="ส่งอีเมล">
        </li>
      </ul>
    </fieldset>
  </div>
  </div>
  
</div>
</div>
<!-- /forgetpassword -->


<!-- Success -->
<div id="popup-cm-success" class="thm-popup">
<div class="box-middle">
<div class="inner md-read pa20-xs pa30-md txt-c">
	<i class="icon"><img src="di/icon-check-circle.png" height="80"></i>
	<h2 class="head t-green">บันทึกข้อมูลรีวิวเรียบร้อยแล้ว</h2>
	<div class="msg txt-l pa30-xs f-sarabun _flex center-xs">
		<p class="_self-cl-xs-12-md-10 txt-c"><small>ระบบได้บันทึกข้อมูลการรีวิวของท่านเรียบร้อยแล้ว ขอบคุณสำหรับการรีวิว</small></p>
	</div>
	<p class="mt30-xs"><a class="ui-btn-pink-sq btn-md" href="javascript:;" data-fancybox-close="" onClick="parent.jQuery.fancybox.close();">ปิดหน้าต่าง</a></p>
</div>
</div>
</div>
<!-- /Success -->

<!-- Social share -->
<div id="popup-share" class="thm-popup thm-sh-social">

<h3 class="head">Share</h3>
<div class="main pa20-xs pa30-md txt-c">
	<div>
	<a class="icon-fb" href="#" title="share facebook">
		<i class="fab fa-facebook"></i>
	</a>
	<!-- line -->
	<div class="line-it-button" style="display: none;" data-lang="en" data-type="share-c" data-ver="3" data-url="https://social-plugins.line.me/en/how_to_install#likebutton" data-color="default" data-size="large" data-count="false"></div>
	 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
	<!-- /line -->

	<a class="icon-tw" href="#" title="share twitter">
		<i class="fab fa-twitter"></i>
	</a>
	</div>
	<form method="get" action="javascript:;">
		<input id="url" onclick="this.select()" type="url" value="http://2read.devio.co.th:9080/read/%E0%B9%81%E0%B8%AD%E0%B8%9A%E0%B8%97%E0%B8%B3%201%20%E0%B8%8A%E0%B8%B1%E0%B9%88%E0%B8%A7%E0%B9%82%E0%B8%A1%E0%B8%87%E0%B8%95%E0%B9%88%E0%B8%AD%E0%B8%A7%E0%B8%B1%E0%B8%99%E0%B8%9D%E0%B8%B1%E0%B8%99%E0%B9%80%E0%B8%9B%E0%B8%A5%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%99%E0%B8%AF" readonly>
		<button type="button" class="ui-btn-trans" onclick="Copy();">Copy Link</button>
		
	</form>


</div>
</div>
<!-- Social share -->

<script>
function Copy() {
  var Url = document.getElementById("url");
  Url.innerHTML = window.location.href;
  console.log(Url.innerHTML)
  Url.select();
  document.execCommand("copy");
  alert('Copied');
}
</script>
